.ul {
  margin-top: 56px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 48px;

  max-width: calc(4 * 424px + 3 * 48px);
  margin-left: auto;
  margin-right: auto;
}

.active {
  margin-bottom: 124px;
}
